*{
    color:black;
}
.content-layout{
    padding:20px;
    display:flex;
    flex-direction: column;
    .content-header{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}