ul{
    display:flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    li{
        font-size:1.1em;
    }
    li:not(:last-child){
        margin-right:25px;
    }
    li:hover{
        transform: scale(1.09);
        cursor: pointer;
    }
}