<div class="dummy-layout" *ngFor="let obj of data;let i = index;" >
  <div class="dummy-header">
    <h3>{{obj.title}}</h3>
  </div>
  <div class="dummy-content">
    <p>{{obj.description}}</p>
  </div>
  <div class="dummy-footer">
    <button class="cancel" [ngClass]="{'cancel-faded' : !buttonPrivilege}" 
            [disabled]="!buttonPrivilege">Cancel</button>
    <button class="submit" [ngClass]="{'submit-faded' : !buttonPrivilege}" 
            [disabled]="!buttonPrivilege">Submit</button>
  </div>
</div>